<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<section  layout:fragment="text">
  <h1 class="m-0">Suppression de Categorie</h1>
</section>
<section layout:fragment="content">
  <div class="d-flex justify-content-center mt-3">

    <div class="col-9">
      <div class="card card-danger">
        <div class="card-header">
          <h3 class="card-title">Suppression de Catégorie :</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form th:action="@{/categorie/destroy}" method="post" th:object="${categorie}">
          <div class="card-body">
            <div class="mb-3">
              <input type="hidden" th:field="*{id}" class="form-control" >
            </div>
            <div class="form-group">
              <label for="designation">Désignation</label>
              <input id="designation" type="text" class="form-control" th:field="*{designation}">
            </div>

          </div>
          <!-- /.card-body -->

          <div class="card-footer">
            <button type="submit" class="btn btn-danger">Supprimer</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
</body>
</html>